body{
    background-color: aquamarine;
}

.block1{
    background-color: azure;
    border-radius: 25px;
    padding:8px;
    
}

h1 {
    text-align:center;
}

.chicken{
    display:block;
    margin: 24px auto;
    font-size:larger
}

.miso{
    display:block;
    margin: 24px auto;
    font-size:larger
}

.yakisoba{
    display:block;
    margin: 24px auto;
    font-size:larger
}